# ====================================================
# Video Call P2P - Environment Configuration
# ====================================================

# App environment
NODE_ENV=production #development or production

# Signaling Server
HOST='' # Default to http://localhost:port
PORT=3000

# Trust Proxy
TRUST_PROXY=false #true or false

# Time Zone
TZ=UTC

# Logs
LOGS_DEBUG=true # true or false
LOGS_COLORS=true # true or false
LOGS_JSON=false # true or false
LOGS_JSON_PRETTY=false # true or false

# CORS
# Origin: Allow specified origin or all origins '*' if not specified
# Methods: Allow only GET and POST methods
CORS_ORIGIN='*'
CORS_METHODS='["GET", "POST"]'

# IP whitelist (disabled by default)
IP_WHITELIST_ENABLED=false # true or false
IP_WHITELIST_ALLOWED='["127.0.0.1", "::1"]'

# Show active rooms
SHOW_ACTIVE_ROOMS=false # true or false

# Maximum participants per room
ROOM_MAX_PARTICIPANTS=1000

# Host protection
# HOST_PROTECTED: When true, requires valid username/password to initialize or join a room.
# HOST_USER_AUTH: When true, requires valid username/password for joining the room.
# HOST_USERS: List of valid users with their credentials.
HOST_PROTECTED=false # true or false
HOST_USER_AUTH=false # true or false
HOST_USERS='[{"username": "admin", "password": "admin"},{"username": "guest", "password": "guest"}]'
HOST_MAX_LOGIN_ATTEMPTS=5 # Maximum login attempts before temporary block
HOST_MIN_LOGIN_BLOCK_TIME=15 # Block duration in minutes

# JWT token config
JWT_KEY=mirotalkp2p_jwt_secret
JWT_EXP=1h

# Presenters list
# First participant to join becomes the presenter.
# Additional presenters can be listed by username.
PRESENTERS='["Admin"]'

# STUN Server
# About: https://bloggeek.me/webrtcglossary/stun/
STUN_SERVER_ENABLED=true # true or false
STUN_SERVER_URL=stun:stun.l.google.com:19302

# TURN Server
# About: https://bloggeek.me/webrtcglossary/turn/
# Free: https://www.metered.ca/tools/openrelay/ (create your own account)
TURN_SERVER_ENABLED=true # true or false
TURN_SERVER_URL=turn:a.relay.metered.ca:443
TURN_SERVER_USERNAME=e8dd65b92c62d3e36cafb807
TURN_SERVER_CREDENTIAL=uWdWNmkhvyqTEswO

# IP lookup (GeoJS)
IP_LOOKUP_ENABLED=false # true or false

# API
API_KEY_SECRET=mirotalkp2p_default_secret
API_DISABLED='["token", "meetings"]'

# Redirect URL on leave room
REDIRECT_ENABLED=false # true or false
REDIRECT_URL='/newcall'